.container {
    width: 50%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 21px 18px 41px -2px #42445a;
    padding: 20px;
    margin-top: 20px;
}

.container__paragraph {
    font-weight: 600;
    font-size: large;
    color: #0153aa;
}