.form {
    width: 50%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 21px 18px 41px -2px #42445a;
    padding: 20px;
}

.form__legend {
    background-color: #dadada;
    color: #007bff;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.form__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form__input {
    flex-grow:1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5%;
}

.form__button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
}

@media (max-width: 767px) {
    .form__label {
        flex-direction: column;
    }

    .form__input {
        width: 100%;
    }

    .form__button {
        width: 100%;
    }
}

.form__button:hover {
    background-color: #0056b3;
}