.form {
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 21px 18px 41px -2px #42445a;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.form__input {
    width: 100%;
    padding: 10%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form__button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
}